.workers {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px auto auto;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
  width: 95%;
  max-height: 80vh;
  gap: 5px;
  overflow: scroll;
}

.day {
  background-color: wheat;
  width: 100px;
  max-width: 100px;
  height: 35px;
  border-radius: 10px;
  position: sticky;
  top: 20px;
  overflow: scroll;
  line-height: 35px;
}

.placeholder {
  background-color: transparent;
  width: 0;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.worker-name {
  grid-column: 1 / 2;
  grid-row: span 2;
  width: 50%;
  margin: 0 auto;
}

.textarea {
  width: 95%;
  height: 100px;
  border: 0;
  margin: 0 auto;
  font-size: 14px;
  resize: none;
}

.morning {
  background-color: white;
  margin-top: 5px;
}

.night {
  background-color: whitesmoke;
  margin-bottom: 5px;
}
