.workers {
  display: grid;
  direction: rtl;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px auto auto;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
  width: 95%;
  max-width: 750px;
  gap: 5px;
}

.day {
  background-color: wheat;
  width: 100%;
  max-width: 100px;
  height: 35px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  line-height: 35px;
}

.placeholder {
  background-color: transparent;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
