.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 10px;
}

.date {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  font-size: 60%;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 50px;
  width: fit-content;
}
