.notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.note__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  line-height: 25px;
  font-size: 20px;
  direction: rtl;
  width: 90%;
}

.note__input:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 200ms linear;
}

.note__input:focus {
  border: 2px solid black;
  outline: none;
}

.note__delete {
  cursor: pointer;
  font-size: 26px;
}

.note__delete:hover {
  color: red;
  transform: scale(1.6);
  transition: color 200ms ease-out, transform 200ms ease-out;
}
