.locations {
  display: grid;
  direction: rtl;
  grid-template-columns: 2fr repeat(7, 1fr);
  overflow: scroll;
  width: 95%;
  margin: auto;
  padding: 5px;
  gap: 5px;
}

.top-line {
  width: 75px;
  margin: auto;
}

.location-name {
  resize: none;
  border: none;
}

.location-text {
  resize: none;
  border: none;
}
